@tailwind components;
@tailwind utilities;

*,
html {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(163, 240, 255);
}

.animate {
    background: linear-gradient(to left, rgb(203, 243, 250), rgb(142, 193, 255), rgb(203, 243, 250));
    background-size: 1000px 100%;
    animation: ani 2s linear infinite;
}

::selection {
    display: none;
}

@keyframes ani {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}